<!DOCTYPE html>
<html>
<head>
  <title>Đặt Lại Mật Khẩu</title>
</head>
<body>
  <h1>Xin chào, {{ user.username }}</h1>
  <p>Bạn đã yêu cầu đặt lại mật khẩu. Vui lòng nhấp vào liên kết bên dưới để đặt lại mật khẩu của bạn:</p>
  <p><a href="{{ resetUrl }}">Đặt lại mật khẩu</a></p>
  <p>Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này.</p>
</body>
</html>
